
/** ADD YOUR AWESOME CODES HERE **/
.login-box .merahoption {
    padding: 4px;
    font-size: 14px;
    background: red;
    color: #fff;
    border: none;
    border-radius: 0px;
}

.side-menu{
   margin-top:4.6%;
}